{% extends "store/main.html" %}
{% load static%}
{%block content%}
        <div class="items">
                <div class="item__content">
                    <img src="{%static 'images/placeholder.png'%}" height="200">
                    <p class="disc">Product</p>
                    <div class="store__buttons"><div class="btn_collect"><button>Add to cart</button>
                        <button>Buy now</button></div>
                        <p class="price">$12</p>
                </div>
            </div>
    </div>
{% endblock%}