body{
    background-color: rgb(136, 136, 136);
    margin: 0;
}
.all i{
    color: white;
    font-size: 3rem;
    padding:0 40px;

}
.all{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: rgb(26, 24, 52);
}
.navbar{
    display: flex;
    align-items: center;
}
.navbar__lists{
    display: flex;
    list-style-type: none;
    align-items: center;
}
.navbar_links{
    text-decoration: none;
    color: black;
    margin: 0 20px;
    font-size: 2rem;
    color: white;
}
.nav_logo{
    font-size: 3.5rem;
    margin: 7px 7px;
    font-family: cursive;
}
.button button{
    background-color: orange;
    border: none;
    border-radius: 7px;
}
.button button a{
    font-size: 2rem;
    text-decoration: none;
    color: black;
    font-family: cursive;
}
.button button:hover{
    background-color: rgb(255, 89, 0);
    color: rgb(72, 72, 72);
}
#cart-total{
    padding: 7px;
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
}
.items{
    display: inline-block;
    margin: 70px 70px;
    background-color: white;
    border-radius: 10px;
}
.items .img__content img{
    max-width: 200px;
}
.items .store__buttons{
    display: flex;
    justify-content: space-between;
}
.items .store__buttons button{
    padding: 10px 10px;
    margin: 8px 2px;
    background-color: transparent;
    border-color:rgb(64, 64, 64);
    border-radius: 5px;
    transition: all 0.35s ease;
    font-size: 1.2rem;
    outline: none;
}
.items .store__buttons button:hover{
    border-color: green;
    background-color: green;
    outline: none;
    color: white;
}
.items .store__buttons button:nth-child(2):hover {
    border-color: black;
    background-color: black;
    color: white;
}
.items .store__buttons p{
    font-size: 1.7rem;
    margin: 15px 20px;
}
.btn_collect{
    margin: 0 10px;
}
.items p{
    margin: 15px 20px;
    font-size: 1.5rem;
    font-weight: bold;
}